<section class="resources-section section">
    <div class="container">
        <h2 class="text-center mb-5">Resources</h2>
        <div class="resources-grid row">
            <div class="resource-column col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Resources</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Blog</li>
                            <li class="list-group-item">Best practices</li>
                            <li class="list-group-item">Colors</li>
                            <li class="list-group-item">Color wheel</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="resource-column col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Support</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Support</li>
                            <li class="list-group-item">Developers</li>
                            <li class="list-group-item">Resource library</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>